fastapi
uvicorn
setuptools
sentence-transformers
chromadb
beir
langchain-core
langchain-ollama
requests
python-dotenv
peft
torch
langserve
langchain
langchain_ollama
ollama
flash_attn
tensorflow[and-cuda]
tf-keras
accelerate
transformers
torch
datasets


